
@font-face {
  font-family: EraserDust;
  src: url(eraser/EraserDust.ttf);
} 

@font-face {
      font-family: EraserRegular;
      src: url(eraser/EraserRegular.ttf);
    }

table.scoreTable {
  width: 100%;
  height: 100%;
  border-width: 4px !important;
  border-color: #ffffff !important;
  border-spacing:0 !important;
}

table td {
  width: 50%;
}

.scoreTable head {
  border-bottom: 4px solid !important;
  border-color: #ffffff !important;
}

/*
.scoreTable tbody {
  border-top: 4px solid !important;
  border-color: #ffffff !important;
  min-height: 600px !important;
}*/

/*
body > div.scores > table.scoreTable > tbody > tr
{
  border-top-color: #ffffff !important;
  border-top: 4px solid !important;
}*/

body {
  background-color: #000000;
  background-image: url("chalkboard-backgrounds/chalkboard-black.jpg");
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
  font-family: EraserDust;
  font-size: 32px;
}

h1 {
  text-shadow: 1px 1px 2px #000;
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-family: EraserDust;
}

input[type="text"] {
  background: #ffffff;
  border: 1px solid #000000;
  height: 30px;
  width: 30%;
  padding: 5px 3%;
  line-height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"]:focus {
  outline: 0;
  border: 1px solid #f69a39;
}

.addToListForm {
  width: 100%;
}

.scores
{
  font-size: 64px !important;
}

.introBlurb
{
  margin: auto;
  width: 80%;
}

.scoreHeader
{
  margin: auto;
  width: 10%;
  font-size: 64px !important;
}

.startScore {
  width: 100%;
  text-align: center;
}

.scoreInput {
  margin: 0 auto;
}

.doneItem {
  display: none;
}

.doneItem + label:before {
    content: "";
    background: #000000;
    color: #ffffff;
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
}

.doneItem:checked + label:before {
    content: "";
    color: #ffffff
    background: #000000;
}

.strikeThrough {
  text-decoration: line-through;
}

.btnGameStart {
  margin: 0 auto 20px auto;
  height: 36px;
  width: 160px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 3px;
}

.radioList {
  font-size: 20px;
}

.addToList {
  margin: 0 auto 20px auto;
  height: 36px;
  width: 160px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 3px;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #efefef 20%, #f5f5f5 40%, #fafafa 50%, #efefef 51%, #efefef 83%, #dfdfdf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(20%,#efefef), color-stop(40%,#f5f5f5), color-stop(50%,#fafafa), color-stop(51%,#efefef), color-stop(83%,#efefef), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%,#efefef 20%,#f5f5f5 40%,#fafafa 50%,#efefef 51%,#efefef 83%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%,#efefef 20%,#f5f5f5 40%,#fafafa 50%,#efefef 51%,#efefef 83%,#dfdfdf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%,#efefef 20%,#f5f5f5 40%,#fafafa 50%,#efefef 51%,#efefef 83%,#dfdfdf 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%,#efefef 20%,#f5f5f5 40%,#fafafa 50%,#efefef 51%,#efefef 83%,#dfdfdf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
}

.doneItem {
  background: #000000;
  color: #ffffff;
  margin-bottom: 5px;
  padding: 3px 10px;
  font-size: 64px !important;
}

#listItems {
  list-style: none;
  font-size: 45px;
  text-align: center;
}

.scores, div, ul
{
  list-style-type:none !important;
}

.player1Input {
  width: 50%;
  min-height: 75px !important;
  float: left;
}

.player2Input {
  width: 49%;
  min-height: 75px !important;
  float: right;
}

td.thPlayer1Name {
  text-align: center; !important;
  border-right: 4px solid !important;
  border-right-color: #ffffff !important;
  border-bottom: 4px solid !important;
  border-bottom-color: #ffffff;
}

td.thPlayer2Name {
  text-align: center; !important;
  border-bottom: 4px solid !important;
  border-bottom-color: #ffffff !important;
}

tr.trScores {
  height: 400px !important;
}

/*
body > div.scores > table > thead > tr.trPlayerHeader{
  border-bottom: 4px solid !important;
  border-bottom-color: #ffffff !important;
}*/


td.thScore {
  border-right-color: #ffffff;
  border-right: 4px solid;
}

td.thPlayerScore {
  text-align: center;
  vertical-align: top;
}

.inputspan1
{
  float: left;
}

.inputspan2
{
  float: right;
}

.player1 {
  /*width: 49%;*/
  text-align: center;
  /*float: left;
  border-right: 5px solid;
  border-right-color: #ffffff;
  padding: 0px;*/
}

.player2 {
  /*width: 50%;*/
  text-align: center;
  /*float: right;
  margin-right: 7px;
  padding: 0px;*/
}

.scoreBoardItem {
  padding-top: 0px;
}
